$inputSidePadding: 8px;
$inputTopMargin: 16px;
$inputBotMargin: 42px;
$inputSideMargin: 8px;
$btnSidePadding: 8px;
$btnSideMargin: 8px;

body {
  background-color: #121212;
  * {
    color: #fff;
  }
}

.d-flex {
  display: flex !important;
}

.flex-column {
  flex-direction: column !important;
}

.flex-wrap {
  flex-wrap: wrap !important;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@for $i from 1 to 15 {
  .ma-#{$i} {
    margin-top: $i * 4px;
    margin-right: $i * 4px;
    margin-bottom: $i * 4px;
    margin-left: $i * 4px;
  }
  .mx-#{$i} {
    margin-right: $i * 4px;
    margin-left: $i * 4px;
  }
  .my-#{$i} {
    margin-top: $i * 4px;
    margin-bottom: $i * 4px;
  }
  .mt-#{$i} {
    margin-top: $i * 4px;
  }
  .mr-#{$i} {
    margin-right: $i * 4px;
  }
  .mb-#{$i} {
    margin-bottom: $i * 4px;
  }
  .ml-#{$i} {
    margin-left: $i * 4px;
  }

  .pa-#{$i} {
    padding-top: $i * 4px;
    padding-right: $i * 4px;
    padding-bottom: $i * 4px;
    padding-left: $i * 4px;
  }
  .px-#{$i} {
    padding-right: $i * 4px;
    padding-left: $i * 4px;
  }
  .py-#{$i} {
    padding-top: $i * 4px;
    padding-bottom: $i * 4px;
  }
  .pt-#{$i} {
    padding-top: $i * 4px;
  }
  .pr-#{$i} {
    padding-right: $i * 4px;
  }
  .pb-#{$i} {
    padding-bottom: $i * 4px;
  }
  .pl-#{$i} {
    padding-left: $i * 4px;
  }
}

.hide {
  display: none !important;
}

.v-progress-circular--indeterminate {
  & > svg {
    animation: progress-circular-rotate 1.4s linear infinite;
    transform-origin: center center;
    transition: all 0.2s ease-in-out;
  }

  .v-progress-circular__overlay {
    animation: progress-circular-dash 1.4s ease-in-out infinite;
    stroke-linecap: round;
    stroke-dasharray: 80, 200;
    stroke-dashoffset: 0px;
    stroke: #fff;
  }
}

@keyframes progress-circular-rotate {
  to {
    transform: rotate(1turn);
  }
}

@keyframes progress-circular-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0px;
  }

  50% {
    stroke-dasharray: 100, 200;
    stroke-dashoffset: -15px;
  }

  to {
    stroke-dasharray: 100, 200;
    stroke-dashoffset: -125px;
  }
}

input,
button {
  outline: none;
}

button {
  color: #121212;
}

img {
  max-width: 100%;
}

input {
  min-height: 32px;
  background-color: #ffffff00;
}

button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.v-card {
  background-color: #272727;
  box-shadow: 0 3px 6px rgba($color: #000000, $alpha: 0.38);
  margin: 8px;
  padding: 12px;
  border-radius: 4px;
}

.v-card-title,
.v-card-text {
  padding: 8px;
}

.v-card-title {
  font-weight: 700;
  font-size: 1.5rem;
}

.v-row {
  display: flex;
  width: 100%;
  margin: 0 -12px;
}

.v-col {
  flex: 1;
  width: 100%;
  padding: 0 12px;
}

@for $i from 1 to 13 {
  .cols-#{$i} {
    flex: $i / 12;
    width: $i / 12 * 100%;
  }
}

.btn {
  padding: 0 $btnSidePadding;
  margin: $btnSideMargin;
}

.text-field {
  padding: 0 $inputSidePadding;
  margin: $inputTopMargin $inputSideMargin $inputBotMargin $inputSideMargin;
  position: relative;
  display: flex;
  border: 1px solid #fff;
  border-radius: 4px;

  .label {
    position: absolute;
    left: $inputSidePadding + $inputSideMargin;
    transform: translateY(-50%);

    transition: 0.1s;
  }

  .error-hint {
    position: absolute;
    opacity: 0;
    color: rgb(255, 71, 83) !important;
    position: absolute;
    top: 100%;
    left: $inputSidePadding + $inputSideMargin;
    transform: translateY(-50%) scale(0);
    background-color: #121212;
    font-size: 0.8em;

    transition: 0.1s;
  }

  input {
    flex: 1;
    border: none;
    & ~ .label {
      font-size: 0.8em;
      top: 0;
      background-color: #121212;
    }
    &[value=""] ~ .label {
      top: 50%;
    }
    &.require ~ .error-hint {
      opacity: 1;
      transform: translateY(-50%) scale(1);
    }
  }
}

.progress-wrapper {
  position: relative;
  width: 100%;
  height: 24px;
}

.audio-progress-wrapper {
  background-color: rgba(36, 113, 255, 0.4);
}

.audio-progress {
  background-color: rgba(36, 113, 255, 1);
}

.video-progress-wrapper {
  background-color: rgba(58, 252, 68, 0.4);
}

.video-progress {
  background-color: rgba(58, 252, 68, 1);
}

.progress {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;

  transition: 0.1s;
}

#dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #4a4a4aaa;

  .dialog-content {
    position: absolute;
  }
}
